<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<rewrite>
				<rules>
					<rule name="Allow ACME Challenge" stopProcessing="true">
						<match url="^\.well-known/acme-challenge/.*" />
						<action type="None" />
					</rule>
				</rules>
			</rewrite>

			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="104857600" />
				</requestFiltering>
			</security>

			<aspNetCore processPath="dotnet"
						arguments=".\FinancialImport.Web.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout\"
						hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 73f79501-26f5-88a4-e6da-c011dbd0fc13-->